<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@200&family=Source+Code+Pro&display=swap"
    rel="stylesheet"
  />
  <ion-toolbar>
    <ion-title>Jacob West</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Shoes</h1>
  <div class="collaborator-container">
    <ion-icon name="person-add"></ion-icon>
    <ion-text style="margin-left: 5px">4 Collaborators</ion-text>
  </div>

  <div class="shoe-container">
    <div class="shoe-box">
      <img src="../../assets/image0.png" />
      <ion-text class="shoe-text">Nike Go FlyEase Easy On/Off Shoes</ion-text>
    </div>
  
    <div class="shoe-box">
      <img src="../../assets/image1.png"/>
      <ion-text class="shoe-text">Nike Spark</ion-text>
    </div>
  </div>

  <div class="shoe-container">
    <div class="shoe-box">
      <img src="../../assets/image2.png"/>
      <ion-text class="shoe-text">ASICS Couple Versatile Running Shoes</ion-text>
    </div>
  
    <div class="shoe-box">
      <img src="../../assets/image3.png"/>
      <ion-text class="shoe-text">Nike Blazer Shoes</ion-text>
    </div>
  </div>

  <div class="shoe-container">
    <div class="shoe-box">
      <img src="../../assets/image4.png"/>
      <ion-text class="shoe-text">Girls' Metallic Accent Mary Janes </ion-text>
    </div>
  
    <div class="shoe-box">
      <img src="../../assets/image5.png"/>
      <ion-text class="shoe-text">Closed Toe Buckle Slide</ion-text>
    </div>
  </div>

</ion-content>
