h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
}

.collaborator-container {
  margin-left: 10px;
  color: gray;
}

.collaborator-container ion-text {
  text-decoration: underline;
}
