<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@200&family=Source+Code+Pro&display=swap" rel="stylesheet">
   <ion-toolbar>
      <ion-button start>      
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
      <ion-title>Jacob West</ion-title>
   </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-avatar class="avatar">
    <ion-img src ="assets/cool-tiktok-profile-pictures-ncvhrzwtdjkc93bf (1).jpg" />
  </ion-avatar>
  <div class= "username" class="ion-text-center" >@jacob_w</div>

  <ion-grid class="grid">
    <ion-row>
      <ion-col size="4" class="center-text">
        <ion-text class="stats">14<br>Following</ion-text>
      </ion-col>
      <ion-col size="4" class="center-text">
        <ion-text class="stats">38<br>Followers</ion-text>
      </ion-col>
      <ion-col size="4" class="center-text">
        <ion-text class="stats">5<br>Likes</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!---
  <div class="center-container"> 14 Following</div>
  <div class="center-container">38 <br> Followers</div>
  <div class="center-container">91 <br> Likes </div>
-->

  <div class="center-container-buttons"> 
    <ion-button fill="outline" class="editProfile" color="dark" >Edit Profile</ion-button> 
    <ion-button fill="outline" color="dark"><ion-icon name="bookmark-outline" ></ion-icon></ion-button>
  </div>

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEhYFc-gOR7d5qO-vTFh_jWZOeJlfKrULGpNU5AYCjdEOeFA/viewform?usp=sf_link"> 
    <div class="center-container-buttons"> 
      <ion-button class="createShopProfile" fill="outline" color="dark">Create Shop Profile</ion-button>
    </div>
  </a>

  <div class="center-container"> 
    <ion-icon  size="large" class="icon-tabs" name="reorder-four-outline"></ion-icon>
    <ion-icon size="large"  class="icon-with-underline" name="duplicate-outline"></ion-icon>
    <ion-icon size="large" class="icon-tabs" name="heart-outline"></ion-icon>
  </div>

  <div class="center-container">
    <ion-card>
      <ion-img src="assets/NikeShoes.jpeg"></ion-img>
    </ion-card>
    <ion-card>
      <ion-img src="assets/dress.jpeg"></ion-img>
    </ion-card>
  </div>



</ion-content>
