<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@200&family=Source+Code+Pro&display=swap"
    rel="stylesheet"
  />
  <ion-toolbar>
    <ion-title>Jacob West</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Shoes</h1>
  <div class="collaborator-container">
    <ion-icon name="person-add"></ion-icon>
    <ion-text style="margin-left: 5px">4 Collaborators</ion-text>
  </div>

  <div class="image-box">
    <img src="../../assets/NikeShoes.jpeg" class="shoe-image" />
    <ion-text style="margin-top: 10px"
      >Nike Go FlyEase Easy On/Off Shoes</ion-text
    >
  </div>

  <div class="shopping-box">
    <ion-card class="custom-text-box">
      <ion-card-content class="shopping-text">
        Buy for @jacob_w
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-text-box">
      <ion-card-content class="shopping-text"> Add to cart </ion-card-content>
    </ion-card>

    <img src="../../assets/addboard.png" class="addboard-image" />
  </div>
  <hr />

  <!-- Comment section -->
  <ion-card class="comment">
    <ion-card-subtitle>1 Comment</ion-card-subtitle>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start" class="round-image">
            <img
              style="border-radius: 47px"
              alt="Pamela"
              src="https://s3-alpha-sig.figma.com/img/a6a1/15a1/f374be511b44508e848f8dd41536fd97?Expires=1694995200&Signature=ddIg58L6bD49urYqVOmH-KSr4RCAheJ51V-uH7w3CiqNNKViehhHOOJz~BPJn6UfIpoMU7HGQnJs2BmX30O4dG88AwsRIBgG9W3HxeeAbG0rI6MKci2T6dnkTcdJ53BT4AiTZB5hjv7EEcaV1HAYlN6SfDylevqL2MeWwxJpOwI1D-gYaOH7XIBegFHzAnnIt0DsC01B7pvnzr0egzz8pXtoOq6sZ7mwjKwWRFN-NE8EB8Q8ND1SmQ39nGXOy6SgXu4tl-5P-VrWxV-EKe4RXfWTIbvfHCy0Q3npujtjYwt9ig7D164NSKmDxub2jg~HkNHbnU9rvRq~fLPN0ECmSw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            />
          </ion-thumbnail>
          <div class="comment-details">
            <h3 class="user-name">Pamela</h3>
            <p class="comment-text">Let’s buy this for Jacob’s birthday!</p>
            <span class="reply-text">Reply</span>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="add-comment-bar">
    <ion-thumbnail slot="start" class="profile-image">
      <img
        style="border-radius: 47px"
        alt="User Profile"
        src="../../assets/cool-tiktok-profile-pictures-ncvhrzwtdjkc93bf (1).jpg"
      />
    </ion-thumbnail>
    <input type="text" placeholder="Add a Comment" class="comment-input" />
  </div>

  <div style="width: 414.005px; height: 1px; background-color: #e3e3e4"></div>
</ion-content>
